body {
    font: 14pt  sans-serif;
    margin: 0;
    background-color: #FFFF99;
}

h1 {
    font-size: 36px;
    margin: 0;
    color: black;
}

h2 {
    margin-top: 0;
}

ul {
    list-style-position: outside;
    padding: 0;
    margin: 10px;
}

.intro-list {
    margin-top: -10px;
}

.menu-item {
    list-style: none;
    list-style-position: outside;
}

.intro-list-item {
    list-style-position: inside;
}

a { 
    text-decoration: none;
}

input {
    margin-top: 8px;
    margin-bottom: 8px; 
}

.answer-spoiler {
    margin-top: 10px;;
}

.answer {
    font-weight: bold;
}

.task-text {
    white-space: pre-wrap;
}

#header {
    background: #66CCFF;
    padding: 10px;
    text-align: center;
}

#sidebar {
    float: left;
    border: 1px solid #333;
    width: 22%;
    padding: 5px;
    margin: 20px 10px 20px 5px;
    text-align: center;
}

#content {
    margin: 20px 250px 50px 25%;
    padding: 5px;
    border: 1px solid #333;
    text-align: center;
}

#footer {
    position: fixed;
    width: 100%;
    padding-top: 20px;
    bottom: 0;
    background: #333;
    padding: 5px;
    color: #fff;
    clear: left;
    height: 25px;
}

#task-id {
    color: #C6C6C6;
}

#tasks-list {

}

#index-link {
    text-decoration: none;
    color: black;
}

.fild{
position: center;
color: black;

}




#rightwindow {
    padding-top: 30px;
    position: relative;
    
    
}


@media only screen and (max-width: 500px) {
    #windows {
        width: 100%;
    }
    #leftwindow {
        width: 100%;
        height: 100vh;
        position: relative;
        background: #03A9F4;
        display: inline-block;
        box-shadow: 0px -2px 15px 0px #AAA;
    }
    #rightwindow {
        padding-top: 30px;
        position: relative;
        
        
    }
    .Buttons {
        position: relative;
        text-align: right;
        user-select: none;
    }
}

@media print {
    .LaTeX {
        display: none;
    }
    #leftwindow {
        display: none;
    }
    #rightwindow {
        
        width: 100%;
    }
}



